@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

@layer utilities {

	.chanfro {
		clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 2rem, 100% 100%, 100% 100%, 2rem 100%, 0 calc(100% - 2rem), 0 0);
	}

	.chanfro-btn {
		clip-path: polygon(0 0, calc(100% - 1.7rem) 0, 100% 1.7rem, 100% 100%, 100% 100%, 1.7rem 100%, 0 calc(100% - 1.7rem), 0 0);
	}

	.chanfro-btn-answer {
		clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 100% 100%, 1rem 100%, 0 calc(100% - 1rem), 0 0);
	}

	@media (max-width: 640px) {
		.chanfro {
			clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 100% 100%, 1rem 100%, 0 calc(100% - 1rem), 0 0);
		}
	
		.chanfro-btn {
			clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 100% 100%, 1rem 100%, 0 calc(100% - 1rem), 0 0);
		}

		.chanfro-btn-answer {
			clip-path: polygon(0 0, calc(100% - 0.7rem) 0, 100% 0.7rem, 100% 100%, 100% 100%, 0.7rem 100%, 0 calc(100% - 0.7rem), 0 0);
		}
	}

	/* .custom {
		width: calc(100% - 2px);
		height: calc(100% - 2px)
	} */
	/* .frame {
		clip-path: polygon(0% 0%, 0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) 100%, 1px 100%, 0 calc(100% - 1px), 100% calc(100% - 1px), 100% 0%);
	} */

	/* .frame::before {
		content: '';
		position: absolute;
		background-color: #2eebcb;
		width: 40px;
		height: 40px;
		top: 0;
		right: 0;
		transform: translateX(49%) translateY(-49%) rotate(45deg);
	}

	.frame::after {
		content: '';
		position: absolute;
		background-color: #2eebcb;
		width: 40px;
		height: 40px;
		bottom: 0;
		transform: translateX(-49%) translateY(49%) rotate(45deg);
	} */
}

body {
	/* font-family: var(--font-purista) !important; */
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}